.modal-dialog {
    .modal-header {
        border: none;
        display: flex;
        align-items: center;
        padding: 20px;

        .modal-title {
            color: black;
            margin: 0;
        }

        .modal-white-tile {
            color: white;
            margin: 0;
        }
    }

    .modal-body {
        padding: 20px;
    }

    .modal-footer {
        padding: 20px;
    }
}

.wallet-dialog {

    .modal-body {
        text-align: center;
        padding: 40px;
    }

    .wallet-item {
        border: 1px solid rgb(155, 155, 155);
        border-radius: 8px;
        cursor: pointer;
    }

    .wallet-item:hover{
        border-color: #20ec8d;
    }
}

.account-dialog {
    .modal-body {
        display: flex;
        flex-direction: column;

        h5 {
            color: black;
        }
        .account-address {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .account-footer {
            display: flex;
            margin-top: 20px;
            justify-content: space-between;
        }
    }
}
