code {
    .red {
        color: red;
    }
    .blue {
        color: blue;
    }
    .purple {
        color: purple;
    }

    .variable {
        color: black;
    }

    .func {
        color: gray;
    }

    .type {
        color: yellow;
    }

    .operator {
        color: cyan;
    }

    .comma {
        color: black;
    }
}
